# Ignore everything by default
/*

# Track only specific project folders
!/Assets/
Assets/*
!Assets/#User/
Assets/#User/*
!Assets/#User/GrowAGarden/
!Assets/#User/GrowAGarden/**
!Assets/Cartoon_Farm_Crops/
!Assets/Cartoon_Farm_Crops/**
!Assets/GVOZDY/
!Assets/GVOZDY/**

# Track git and documentation files
!/.gitignore
!/.gitattributes
!/README.md
